---
// src/components/ColorPicker.astro
---

<div class="td-form-group">
  <label class="tb-color-grid">الالوان:</label>
  <div class="tb-color-item">
    <div class="color-box">
      <label for="bgColor">الخلفية</label>
      <input type="color" id="bgColor" value="#4a6fa5">
    </div>
    <div class="color-box">
      <label for="titleColor">العنوان</label>
      <input type="color" id="titleColor" value="#333333">
    </div>
    <div class="color-box">
      <label for="excerptColor">المقتطف</label>
      <input type="color" id="excerptColor" value="#333333">
    </div>
    <div class="color-box">
      <label for="authorColor">المؤلف</label>
      <input type="color" id="authorColor" value="#333333">
    </div>
    <div class="color-box">
      <label for="blogNameColor">المدونة</label>
      <input type="color" id="blogNameColor" value="#333333">
    </div>
  </div>
</div>
