<div class="tb-download-options">
            <button id="downloadJpgBtn" class="tb-button tb-secondary">JPG</button>
            <button id="downloadPngBtn" class="tb-button tb-secondary">PNG</button>
            <button id="downloadWebpBtn" class="tb-button tb-secondary">WebP</button>
          </div>
        
        
        <div class="tb-preview">
          <p class="title dt" href="#main-content" style="font-weight: bold;"><b>المعاينة</b></p>
          <canvas id="thumbnailCanvas" width="800" height="420"></canvas>
        </div>
      
  
