---
// src/components/PreviewSection.astro
---

<div class="tb-preview">
  <p class="title dt" style="font-weight: bold;"><b>المعاينة</b></p>
  <canvas id="thumbnailCanvas" width="800" height="420"></canvas>
</div>
