<div class="form-group">
            <label>أحجام النصوص:</label>
            <div class="tb-vertical-layout">
              <div class="tb-range-group">
                <label for="titleSize">العنوان:</label>
                <input type="range" id="titleSize" min="20" max="60" value="40">
                <span id="titleSizeValue">40px</span>
              </div>
              <div class="tb-range-group">
                <label for="excerptSize">المقتطف:</label>
                <input type="range" id="excerptSize" min="16" max="36" value="26">
                <span id="excerptSizeValue">26px</span>
              </div>
              <div class="tb-range-group">
                <label for="authorSize">المؤلف:</label>
                <input type="range" id="authorSize" min="12" max="24" value="15">
                <span id="authorSizeValue">15px</span>
              </div>
              <div class="tb-range-group">
                <label for="blogNameSize">المدونة:</label>
                <input type="range" id="blogNameSize" min="12" max="30" value="24">
                <span id="blogNameSizeValue">24px</span>
              </div>
            </div>
          </div>
