---
// src/components/ThumbnailGenerator.astro
import FormSection from './FormSection.astro';
import PreviewSection from './PreviewSection.astro';
import '../styles/thumbnail.css';
---

<div class="heroBox">
  <div class="BoxTool">
    <div class="thumbnail-generator-container">
      <p class="title dt" style="font-weight: bold;"><b>مولد الصور المصغرة للمقالات</b></p>
      
      <div class="editor">
        <FormSection />
        <PreviewSection />
      </div>
    </div>
  </div>
</div>
